#project-header{
    background-color: lightgray;
    height: 300px;
}

.wave{
    height: 340px;
    width: 100%;
}

#project-header h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 120px;
    font-size: 50px;
    font-weight: 900;
}